<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>ProductController</servlet-name>
  	<display-name>ProductController</display-name>
  	<description>This will handle all the requests related with product management</description>
  	<servlet-class>com.themiya.techmartonline.controller.ProductController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SalesAgentController</servlet-name>
  	<display-name>SalesAgentController</display-name>
  	<description>This will handle all the requests related with sales agent management</description>
  	<servlet-class>com.themiya.techmartonline.controller.SalesAgentController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StockController</servlet-name>
  	<display-name>StockController</display-name>
  	<description>This will inform the stock limit to the supplier </description>
  	<servlet-class>com.themiya.techmartonline.controller.StockController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RestockController</servlet-name>
  	<display-name>RestockController</display-name>
  	<description></description>
  	<servlet-class>com.themiya.techmartonline.controller.RestockController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CustomerController</servlet-name>
  	<display-name>CustomerController</display-name>
  	<description></description>
  	<servlet-class>com.themiya.techmartonline.controller.CustomerController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CustomerRegisterController</servlet-name>
  	<display-name>CustomerRegisterController</display-name>
  	<description></description>
  	<servlet-class>com.themiya.techmartonline.controller.CustomerRegisterController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CustomerLoginController</servlet-name>
  	<display-name>CustomerLoginController</display-name>
  	<description></description>
  	<servlet-class>com.themiya.techmartonline.controller.CustomerLoginController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeliveryController</servlet-name>
  	<display-name>DeliveryController</display-name>
  	<description></description>
  	<servlet-class>com.themiya.techmartonline.controller.DeliveryController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoggedInProfile</servlet-name>
  	<display-name>LoggedInProfile</display-name>
  	<description></description>
  	<servlet-class>com.themiya.techmartonline.controller.LoggedInProfile</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutProfile</servlet-name>
  	<display-name>LogoutProfile</display-name>
  	<description></description>
  	<servlet-class>com.themiya.techmartonline.controller.LogoutProfile</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CustomerProducts</servlet-name>
  	<display-name>CustomerProducts</display-name>
  	<description></description>
  	<servlet-class>com.themiya.techmartonline.controller.CustomerProducts</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SealesAgentLoginController</servlet-name>
  	<display-name>SealesAgentLoginController</display-name>
  	<description></description>
  	<servlet-class>com.themiya.techmartonline.controller.SealesAgentLoginController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>OrderController</servlet-name>
  	<display-name>OrderController</display-name>
  	<description></description>
  	<servlet-class>com.themiya.techmartonline.controller.OrderController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DriverVehicleController</servlet-name>
  	<display-name>DriverVehicleController</display-name>
  	<description></description>
  	<servlet-class>com.themiya.techmartonline.controller.DriverVehicleController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SalesAgentOrderUpdate</servlet-name>
  	<display-name>SalesAgentOrderUpdate</display-name>
  	<description></description>
  	<servlet-class>com.themiya.techmartonline.controller.SalesAgentOrderUpdate</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CustomerOrderUpdate</servlet-name>
  	<display-name>CustomerOrderUpdate</display-name>
  	<description></description>
  	<servlet-class>com.themiya.techmartonline.controller.CustomerOrderUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ProductController</servlet-name>
  	<url-pattern>/getProducts</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProductController</servlet-name>
  	<url-pattern>/addProduct</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProductController</servlet-name>
  	<url-pattern>/updateProduct</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProductController</servlet-name>
  	<url-pattern>/deleteProduct</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SalesAgentController</servlet-name>
  	<url-pattern>/getSalesAgents</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SalesAgentController</servlet-name>
  	<url-pattern>/addSalesAgent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SalesAgentController</servlet-name>
  	<url-pattern>/updateSalesAgent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SalesAgentController</servlet-name>
  	<url-pattern>/deleteSalesAgent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StockController</servlet-name>
  	<url-pattern>/getStock</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
  	<servlet-name>StockController</servlet-name>
  	<url-pattern>/updateStock</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>RestockController</servlet-name>
    	<url-pattern>/getRestock</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>CustomerController</servlet-name>
    	<url-pattern>/getCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>CustomerController</servlet-name>
    	<url-pattern>/addCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>CustomerController</servlet-name>
    	<url-pattern>/updateCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>CustomerController</servlet-name>
    	<url-pattern>/deleteCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>CustomerRegisterController</servlet-name>
    	<url-pattern>/addCustomerRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>CustomerLoginController</servlet-name>
    	<url-pattern>/getCustomerLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>DeliveryController</servlet-name>
    	<url-pattern>/getDelivery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>DeliveryController</servlet-name>
    	<url-pattern>/addDelivery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>DeliveryController</servlet-name>
    	<url-pattern>/updateDelivery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>DeliveryController</servlet-name>
    	<url-pattern>/deleteDelivery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>LoggedInProfile</servlet-name>
    	<url-pattern>/getProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>LogoutProfile</servlet-name>
    	<url-pattern>/getLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>CustomerProducts</servlet-name>
    	<url-pattern>/getCustomerProducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
  		<servlet-name>CustomerProducts</servlet-name>
  		<url-pattern>/orderProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>SealesAgentLoginController</servlet-name>
    	<url-pattern>/getSalesAgentLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>OrderController</servlet-name>
    	<url-pattern>/getOrders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>OrderController</servlet-name>
    	<url-pattern>/addOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>OrderController</servlet-name>
    	<url-pattern>/updateOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>OrderController</servlet-name>
    	<url-pattern>/deleteOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>DriverVehicleController</servlet-name>
    	<url-pattern>/getDriverVehicle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>SalesAgentOrderUpdate</servlet-name>
    	<url-pattern>/getSalesAgentOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>SalesAgentOrderUpdate</servlet-name>
    	<url-pattern>/updateSalesAgentOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>CustomerOrderUpdate</servlet-name>
    	<url-pattern>/getCustomerOrderUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>CustomerOrderUpdate</servlet-name>
    	<url-pattern>/updateCustomerOrder</url-pattern>
    </servlet-mapping>
</web-app>
